@font-face {
	font-family: "Avenir Next Rounded Std";
	font-weight: 400;
	src: url("./assets/fonts/AvenirNextRoundedStd-Reg.woff");
	font-display: swap;
}

/**
 * Variables
 */
:root {
	/* base font-style */
	--font-basic: "Avenir Next Rounded Std";
	--weight-basic: 400;

	/* font size */
	--font-xxl: 1.375rem;
	--font-xl: 1.25rem;
	--font-lg: 1.125rem;
	--font-md: 1rem;
	--font-sm: 0.875rem;
	--font-xs: 0.8125rem;
	--font-xxs: 0.75rem;

	/* line heigths */
	--line-height-xl: 2;
	--line-height-lg: 1.39;
	--line-height-md: 1.23;
	--line-height-sm: 1;

	/* letter spacing */
	--spacing-primary: 0.01em;
	--spacing-secondary: 0.0625rem;
	--spacing-large: 0.16em;
	--spacing-negative: -0.01em;

	/* color palette */
	--color-white: #FFFFFF;
	--color-mirage: #1A1F29;
	--color-deep-koamaru: #171C8F;
	--color-manatee: #929499;
	--color-shuttle-gray: #5E626B;
	--color-bombay: #AEAEB0;
	--color-dull-lavender: #BA9BE5;
	--color-sea-pink: #E9A0A7;
	--color-apricot-peach: #F8CAB1;
	--color-silver: #CCCCCC;
	--color-silver-dark: #BDBDBD;
	--color-concrete:  #F2F2F2;
	--color-antique-brass: #C88252;

	/* font color  */
	--font-color-dark: var(--color-mirage);
	--font-color-accent: var(--color-deep-koamaru);
	--font-color-neutral: var(--color-shuttle-gray);
	--font-color-light: var(--color-manatee);
	--font-color-disabled:  var(--color-silver-dark);

	/* product color  */
	--black-color: var(--color-mirage);
	--brown-color: var(--color-antique-brass);
	--gray-latte-color: var(--color-bombay);
	--purple-latte-color: var(--color-dull-lavender);
	--pink-latte-color: var(--color-sea-pink);
	--orange-latte-color: var(--color-apricot-peach);

	/* border */
	--border-primary: 0.0625rem solid var(--color-silver);

	/* button */
	--button-background: var(--color-white);
	--button-text-color: var(--font-color-dark);
	--button-border: var(--border-primary);	
}

/**
 *Base styles
 */
*, 
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font-basic), sans-serif;
	line-height: var(--line-height-md);
	font-weight: var(--weight-basic);
	color: var(--font-color-dark);
}

.list {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.heading {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: var(--weight-basic);
}

.paragraph {
	margin-top: 0;
	margin-bottom: 0;
}

.link {
	text-decoration: none;
	color: inherit;
}

.image {
	display: block;
	max-width: 100%;
	height: auto;
}

.fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

.button {
	font-family: inherit;
	line-height: inherit;
	text-transform: uppercase;
	border: var(--button-border);
	background: var(--button-background);
	white-space: nowrap;
	cursor: pointer;
}

.input-number {
	appearance: textfield;
	font-family: inherit;
	text-align: center;
	border: var(--border-primary);
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.break {
	margin: 0;
	border: 0;
	height: 0.0625rem;
	background: var(--color-silver);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button:hover, .link:hover {
	opacity: 0.7;
}

/**
 * Layout
 */
.wrapper {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

/**
 * Header block
 */
.header {
	max-width: 84rem;
	padding-top: 1.5rem;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2.25rem;
	letter-spacing: var(--spacing-primary);
}

.header__navigation--primary {
	order: 2;
}

.header__navigation--secondary {
	order: 3;
}

.header__list {
	display: flex;
	flex-direction: column;
	gap: 2.25rem;
	flex-wrap: wrap;
	text-align: center;
}

.header__logo {
	max-width: 8.6875rem;
	width: 100%;
	order: 1;
}

.header__image {
	aspect-ratio: 4.3438;
}

@media only screen and (min-width: 480px) {
	.header__list {
		flex-direction: row;
		justify-content: center;
		text-align: initial;
	}
}

@media only screen and (min-width: 960px) {
	.header {
		flex-direction: row;
	}

	.header__logo {
		order: initial;
	}

	.header__navigation {
		order: initial;
		width: 100%;
	}	

	.header__list--primary {
		justify-content: flex-start;
	}

	.header__list--secondary {
		justify-content: flex-end;
	}	
}

/**
 * Breadcrumb block
 */
.breadcrumb {
	max-width: 84rem;
	margin-top: 1.25rem;
}

.breadcrumb__list {
	display: flex;
	flex-wrap: wrap;	
}

.breadcrumb__item {
	display: flex;
	align-items: flex-end;
	font-size: var(--font-xxs);
}

.breadcrumb__item::after {
	content: '/';
	margin-left: 0.625rem;
	margin-right: 0.5rem;
	color: var(--font-color-light);
	font-size: var(--font-sm);
}

.breadcrumb__item--active {
	color: var(--font-color-light);
}

.breadcrumb__item--active::after {
	display: none;
}

/**
 * Product block
 */
.product {
	max-width: 31.5625rem;
	margin-top: 2.3125rem;
}

.product__group {
	display: flex;
	flex-direction: column-reverse;
	row-gap: 3rem;
}

.product__accordion {
	margin-top: 3.0625rem;
}

@media only screen and (min-width: 960px) {
	.product {
		max-width: 79rem;
	}

	.product__group {
		max-width: 75rem;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.product__illustration {
		max-width: 45.5rem;
		padding-right: 1.5625rem;
		flex-grow: 1;		
	}

	.product__image {
		max-width: 29.5625rem;
		margin-left: auto;
		margin-right: auto;
	}

	.product__description {
		max-width: 25.5rem;
		flex-grow: 1;
	}

	.product__accordion {
		max-width: 72.5625rem;
		padding-right: 27.0625rem;
	}
}
/**
 * Description block
 */
.description__section {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.description__section--top {
	letter-spacing: var(--spacing-primary);
	margin-bottom: 3rem;
}    

.description__section--bottom {
	letter-spacing: var(--spacing-negative);
	margin-top: 3rem;
}

.description__heading {
	font-size: var(--font-xxl);
}

.description__caption {
	font-size: var(--font-xl);
}

.description__note {
	color: var(--font-color-neutral);
	font-size: inherit;
}

.description__paragraph {
	font-size: var(--font-lg);
}

@media only screen and (min-width: 960px) {
	.description__section--bottom {
		max-width: 24.1875rem;
	}
}
/**
 * Form block
 */
.form__filter {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
	letter-spacing: var(--spacing-primary);

	--label-border-color: var(--color-silver);
	--label-background: var(--color-white);
	--label-disabled-background: var(--color-concrete);
	--label-disabled-border-color: var(--color-concrete);
	--label-hover-border-color: var(--color-mirage);
}

.form__filter--colored {
	--label-border-color: transparent;
	--label-background: transparent;
	--label-disabled-background: transparent;
	--label-disabled-border-color: transparent;
	--label-hover-border-color: var(--color-silver);
}

.form__legend {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0.75rem;
}

.form__label {
	width: 2.5rem;
	height: 2.5rem;
	border: 0.0625rem solid var(--label-border-color);
	background: var(--label-background);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	letter-spacing: var(--spacing-negative);
}

.form__label--colored {
	position: relative;
}

.form__label--colored::before {
	font-size: var(--font-xs);
	letter-spacing: initial;
	white-space: nowrap;
	color: var(--font-color-neutral);
	background: var(--color-white);
	padding: 0.1875rem;
	border: var(--border-primary);
	position: absolute;
	top: -1.0625rem;
	left: 1.6875rem;
	z-index: 1;
}

.form__input:enabled + .form__label--colored:hover::before {
	content: attr(data-tooltip);
}

.form__item {
	position: relative;
}

.form__item::after {
	content: '';
	width: 2.125rem;
	height: 2.125rem;
	background: var(--inner-label-background);
	border: 0.0625rem solid var(--inner-label-border-color);
	position: absolute;
	left: 0.1875rem;
	top: 0.1875rem;
	z-index: -1;

}

.form__item--white {
	--inner-label-background: var(--color-white);
	--inner-label-border-color: var(--color-silver);
}

.form__item--black {
	--inner-label-background: var(--black-color);
	--inner-label-border-color: var(--black-color);
}

.form__item--gray {
	--inner-label-background: var(--gray-latte-color);
	--inner-label-border-color: var(--gray-latte-color);
}

.form__item--purple {
	--inner-label-background: var(--purple-latte-color);
	--inner-label-border-color: var(--purple-latte-color);
}

.form__item--pink {
	--inner-label-background: var(--pink-latte-color);
	--inner-label-border-color: var(--pink-latte-color);
}

.form__item--orange {
	--inner-label-background: var(--orange-latte-color);
	--inner-label-border-color: var(--orange-latte-color);
}

.form__input:checked + .form__label {
	--label-border-color: var(--color-mirage);
}

.form__input:disabled + .form__label {
	color: var(--font-color-disabled);
	position: relative;
	cursor: not-allowed;

	--label-border-color: var(--label-disabled-border-color);
	--label-background: var(--label-disabled-background);
}

.form__input:disabled + .form__label::after {
	content: '';
	height: 3.4468rem;
	width: 0.0625rem;
	background: var(--color-silver);
	position: absolute;
	transform: rotate(45deg);
}

.form__input:enabled + .form__label:hover {
	border-color: var(--label-hover-border-color);
}

.form__input:focus-visible + .form__label {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}

.form__button-group {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.form__button {
	color: var(--button-text-color);
	font-size: var(--font-sm);
	letter-spacing: var(--spacing-large);
	padding: 0.9rem;
}

.form__button--primary {
	--button-background: var(--color-deep-koamaru);
	--button-text-color: var(--color-white);
	--button-border: 0.0625rem solid var(--color-deep-koamaru);
}

/**
 * Counter block
 */
.counter {
	letter-spacing: var(--spacing-secondary);
	display: flex;
}

.counter__input {
	max-width: 2.5rem;
	min-height: 2.5rem;
	color: var(--font-color-dark);
	font-size: var(--font-lg);
	line-height: var(--line-height-sm);
	border-left: none;
	border-right: none;
	order: 2;
}

.counter__button {
	max-width: 2.5rem;
	width: 100%;
	font-size: var(--font-lg);
	line-height: var(--line-height-sm);
	color: var(--font-color-neutral);
}

.counter__button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.counter__button--increase {
	order: 3;
}

/**
 * Accordion block
 */
.accordion__item {
	letter-spacing: var(--spacing-primary);
	border-top: var(--border-primary);
}

.accordion__item:last-of-type {
	border-bottom: var(--border-primary);
}

.accordion__summary {
	padding-top: 2rem;
	padding-bottom: 2rem;
	cursor: pointer;
	position: relative;
	list-style-type: none;
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__summary::before, 
.accordion__summary::after {
	content: '';
	width: 0.75rem;
	height: 0.0625rem;
	position: absolute;
	background: var(--color-mirage);
	top: 50%;
	right: 0;
} 

.accordion__summary::after {
	transform: rotate(90deg);
}

.accordion__element[open] > .accordion__summary::after {
	display: none;
}

.accordion__heading {
	font-size: var(--font-md);
}

.accordion__collapse {
	padding-top: 0.5rem;
	padding-bottom: 2.5rem;
}

/**
 * Aside block
 */
.aside {
	max-width: 76rem;
	margin-top: 6.25rem;
	margin-bottom: 6.75rem;
}

.aside__heading {
	font-size: var(--font-xxl);
	color: var(--font-color-accent);
	letter-spacing: var(--spacing-primary);
	text-align: center;
	margin-bottom: 4rem;
}

/**
 * Cards block
 */
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12.5rem, max-content));
	grid-gap: 4rem;
	justify-content: center;
}

@media only screen and (min-width: 960px) {
	.cards {
		justify-content: initial;
	}
}
/**
 * Card block
 */
.card {
	max-width: 15.5rem;
	text-align: center;
	position: relative;
}

.card__image {
	width: 100%;
	aspect-ratio: 0.6739;
	object-fit: cover;
}

.card__heading {
	font-size: var(--font-md);
	margin-top: 1.25rem;
}

.card__link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.card__list {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
	position: relative;
	z-index: 1;
}

.card__item {
	width: 0.75rem;
	height: 0.75rem;
	background: var(--card-color);
}

.card__item--brown {
	--card-color: var(--brown-color);
}

.card__item--orange {
	--card-color: var(--orange-latte-color);
}

.card__item--pink {
	--card-color: var(--pink-latte-color);
}

.card__item--purple {
	--card-color: var(--purple-latte-color);
}

.card__tags {
	position: absolute;
	left: 0.75rem;
	top: 0.5rem;
	z-index: 1;
}

/**
 * Tags block
 */
.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.tags__item {
	background: var(--color-white);
	padding: 0.25rem;
	font-size: var(--font-xs);
	color: var(--font-color-neutral);
}

/**
 * Footer block
 */
.footer {
	max-width: 81rem;
	padding-top: 5rem;
	padding-bottom: 2.0625rem;
	text-align: center;
}

.footer__container {
	display: flex;
	flex-direction: column;
	gap: 3rem 9.75rem;
}

.footer__section {
	line-height: var(--line-height-xl);
	letter-spacing: var(--spacing-secondary);
	color: var(--font-color-neutral);
}

.footer__heading {
	font-size: var(--font-xs);
	line-height: var(--line-height-lg);
	color: var(--font-color-dark);
	text-transform: uppercase;
	margin-bottom: 1.5rem;
}

.footer__address {
	font-style: normal;
}

.footer__socials {
	margin-top: 1.1563rem;
	padding-left: 0.4763rem;
	justify-content: center;
}

.footer__copyrights {
	font-size: var(--font-md);
	color: var(--font-color-neutral);
	display: block;
	margin-top: 5.75rem;
}

@media only screen and (min-width: 480px) {
	.footer {
		text-align: initial;
	}

	.footer__container {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.footer__socials {
		justify-content: flex-start;
	}
}

/**
 * Socials block
 */
.socials {
	display: flex;
	flex-wrap: wrap;
	gap: 1.625rem;
}
